*.o
*.swp

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/m4/
/stamp-h?
/configure
/depcomp
/install-sh
/missing
/stamp-h1
.deps/
ltmain.sh
.dirstamp
*.o
*~
ptrfuzz

a.out
*log*
tmp


